.swal-overlay {
  background-color: rgba(249,173,51,0.6);
}

@font-face{
	font-family:Marvel;
	src:url(../fontes/MavenPro-Regular.ttf);		
}

*{
	font-family:Marvel;
	padding:0;
	margin:0;
}
section{
	width:100%;
	position:relative;
	top:50px;
	margin-bottom:150px;
}

.form{
	background-color:#fff;
	box-shadow:2px 4px 10px #000;
	padding-top:30px;
	border-radius:20px;
}

.form-group{
	display:block;
	position: relative;
	left:15%;
	width:70%;
	margin-top:15px;
}

.camposTime{
	padding-top:15px;
	height:400px;
	position:relative;
}

.btn{
	width:100%;
	background-color:#F9AD33;
}

.txt-sd{
	background-color:#F9AD33;
	padding:3px;
	width:40%;
	position:relative;
	left:30%;
	border-radius:30px;
}


@media screen and (max-width:993px){
	.txt-sd{
		padding:3px;
		width:70%;
		left:15%;
	}	
	.txt-saudacao{
		font-size:20px;
	}
			
}

@media screen and (max-width:576px){
	.form{
		box-shadow:none;
		border-radius:none;
	}
	.txt-sd{
		padding:3px;
		width:100%;
		left:0%;
	}	
	.txt-saudacao{
		font-size:18px;
	}
	label{
		font-size:13px;
	}
			
}