/*autor: Waycon Sales*/
@font-face{
	font-family:Marvel;
	src:url(../fontes/MavenPro-Regular.ttf);		
}
*{
	font-family:Marvel;
}
.footer{
	border-top:1px solid #F9AD33;
	color:#000;
	height:250px;
	width:100%;
	position: relative;
	background-color:rgba(255,255,255,0.6);	
}


.footer .footer-content{
	padding-top:20px; 
	
}

.sobre{
	text-align: justify;
	font-size: 15px;

}

i{

	font-size:25px;
}

.redes {
	position:relative;
	left:30%;
	width:40%;	
	background-color:#F9AD33;
	padding-top: 3px; 
}
.inst{
	margin-left:10px;
}
.redes a{
	color:#fff;
	text-decoration:none; 
}
.redes a:hover{
	text-decoration:none;
}

.voltar-topo{
	display: flex;
	justify-content: center;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.voltar-topo a{
	height: 40px;
	text-decoration:none;	
}

.imgSubir{
	width:150px;
	height:150px;	
	
}

.footer .footer-bottom{
	background-color: #F9AD33;
	color:#fff;
	height: 50px;
	text-align:center;
	position: absolute;
	bottom: 0px;
	left:0px;
	padding-top: 20px;
	width:100%;
}


@media screen and (max-width:769px){

	.sobre{
		font-size: 13px;
	}
	.txt-foot{
		font-size: 20px;
	}
	.voltar-topo{
		justify-content: left;
	}
	
	.imgSubir{
		width:55px;
		height:55px;	
	
	}	
	
	
}
@media screen and (max-width:450px){

	.sobre{
		font-size: 10px;
	}
	
	.imgSubir{
		width:40px;
		height:40px;	
	}	
	i{
	font-size:20px;
	}
	.redes {
	position:relative;
	left:15%;
	width:70%;	
	}
	
}