/*autor: Waycon Sales*/
@font-face{
	font-family:Marvel;
	src:url(../fontes/MavenPro-Regular.ttf);		
}

@font-face{
	font-family:Mregular;
	src:url(../fontes/Montserrat-Regular.otf);

}

*{
	padding: 0;
	margin:0;
	
}

.perfil{
	margin-top:50px;
	margin-bottom:50px;
	padding:50px;
	box-shadow:2px 4px 10px #000;
	border-radius:20px;
}

.col-12{
	border-left:1px solid #F9AD33;
	text-align:center;
}

.col-6{
	
	padding-bottom:10px;
}
.centro{
	
	display:flex;
	justify-content:center;
	margin-top:10px;
}

strong{
	color:#F9AD33;
}
h2{
	color:#F9AD33;
	font-family: Marvel;
}
h4{
	text-align:center;
}
p{
	text-align:left;
	font-size:24px;
	font-family: Marvel;
}
.btn{
	background-color:#F9AD33;
	color:#fff;
}
.btn:hover{
	color:#000;
}
.btn a{
	color:#fff;
}
.btn a:hover{
	color:#000;
	text-decoration:none;
}
.sair{
	float:right;
}
.imgProfile{
	width:150px;
	height:150px;
}
@media screen and (max-width:986px){
	h2{
		font-size:25px;
	}
	h4{
		font-size:25px;
	}
	p{
		
		font-size:18px;
		
	}
	.imgProfile{
		width:100px;
		height:100px;
	}		
}
@media screen and (max-width:416px){
	.sair{
		float:left;
		margin-top:3px;
		width:80px;
	}
	.btn{
		font-size:10px;
	}
	h2{
		font-size:20px;
	}
	h4{
		font-size:20px;
	}
	p{
		
		font-size:14px;
		
	}		
}